body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#buttonContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
}

button {
    flex: 1;
    margin: 0 5px;
}

#output {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
